.VPFeature {
  /* width: 200px; */
}

.image-src {
  min-width: 500px;
  /* margin-top: 20px; */
  /* margin-left: 60px; */
  border-radius: 10px;
}

@media (min-width: 768px) {
  .image-src {
    margin-top: 20px;
    margin-left: 60px;
  }
  .image-bg {
    margin-top: 20px;
    margin-left: 50px;
  }
}

/* .VPImage { */
/*   border-radius: 30px; */
/* } */
/* .image-container { */
/*   transform: translate(-100px, -100px); */
/*   border-radius: 30px; */
/* } */

/* .image { */
/*   border-radius: 30px; */
/* } */

/* .image-bg { */
/*   margin-top: 20px; */
/*   margin-left: 50px; */
/* } */
